#encabezado {
    text-decoration-color: #c36a2d;

}

#img-perfil {
    width: 150px;

}

.border-botom {
    color: #c36a2d;
}

#img-stack {
    width: 200px;
}

.bg-primary {
    background-color: #C36A2D !important;
}

.nav-link {
    color: #c36a2d !important;
    font-weight: 300;
    font-size: 25px;
}

.text-bg-primary {
    background-color: #C36A2D !important;
}

#parrafo-p-p{
    text-align: justify;
}

#Constancia1 {
    background-image: url(https://tecnolochicas.mx/public/images/videos_camp/tecnolochica.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Constancia2 {
    background-image: url(https://wallpapercave.com/wp/wp1939737.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#Constancia3 {
    background-image: url(https://recursoshumanos.ula.edu.mx/comularh/media/k2/items/cache/258ee2700b8562b5d51ebf2117179b3d_XL.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.titulo-proyecto {
    text-shadow: 2px 5px 30px #000000;
}

.row {
    justify-content: center;
}

#proyecto-1 {
    background-image:url(image/Primera-pag.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-2 {
    background-image: url(image/clon-google.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-3 {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-4 {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-5 {
    background-image: url();
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#proyecto-6 {
    background-image: url('');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.carousel-item {
    height: 400px;
}

.carousel-indicators [data-bs-target] {
    background-color: #c36a2d;
    height: 5px;
}

.carousel-caption {
    color: black;
}


.progress-bar {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #c36a2d;
    color: #000000;

}

#iconos {
    font-size: 300%;
}

a:link {
    color: #c36a2d;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: #c36a2d;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: #c36a2d;
    background-color: transparent;
    text-decoration: underline;
}

li {
    list-style: none;

}